<% include partials/header %>
<link rel="stylesheet" href="stylesheets/landing.css">
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

<div class="index-page">
  <div id="navbar">
    <div id="nav-about"><a href="#scroll-1">About</a></div>
    <div id="nav-skills"><a href="#scroll-2">Skills</a></div>
    <div id="nav-projects"><a href="#scroll-3">Projects</a></div>
    <div id="nav-resume"><a href="#scroll-4">Resume</a></div>
    <div id="nav-contact"><a href="#scroll-5">Contact</a></div>
  </div>
  <h1 id="name">MIKLOS SZUCS</h1>
  <hr class="line-1">
  <p class="description">WEB AND GAME DEVELOPER</p>
  <hr class="line-1">
</div>


<div class="section" id="about">

<div class="content" id="c1">
<div class="title">
  <a id="scroll-1">About</a>
</div>
<hr class="line-2"></hr>
<div class="text">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis varius, orci mattis efficitur tincidunt, velit ipsum pellentesque ipsum, at interdum urna eros eget erat. Fusce metus quam, condimentum eu nulla ullamcorper, aliquet euismod nibh. Duis vel orci est. Fusce et rhoncus erat. Aliquam viverra ultricies velit, vitae viverra sem convallis quis. Maecenas et augue a enim aliquam fermentum ac eu massa. Nunc faucibus dictum mattis. Nullam feugiat est quis viverra sagittis.

Praesent vitae lorem ligula. In mollisProin vel viverra tortor, at porta felis. Nulla eu volutpat enim. Integer auctor efficitur leo nec finibus. Pellentesque ullamcorper placerat mi et eleifend. Aenean quis fermentum arcu, quis tempus metus. Ut ac aliquam sem. Proin interdum blandit consectetur. Praesent porttitor, enim sed ultricies dapibus, nisi lorem ultrices ipsum, ut ultrices metus libero in turpis. Suspendisse tincidunt aliquam leo vitae viverra. Proin sollicitudin fermentum quam, et dapibus felis volutpat vitae.
</div>
</div>
</div>
<div class="section" id="skills">

<div class="content" id="c2">
<div class="title">
  <a id="scroll-2">Skills</a>
</div>
<hr class="line-2"></hr>
<div class="text">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis varius, orci mattis efficitur tincidunt, velit ipsum pellentesque ipsum, at interdum urna eros eget erat. Fusce metus quam, condimentum eu nulla ullamcorper, aliquet euismod nibh. Duis vel orci est. Fusce et rhoncus erat. Aliquam viverra ultricies velit, vitae viverra sem convallis quis. Maecenas et augue a enim aliquam fermentum ac eu massa. Nunc faucibus dictum mattis. Nullam feugiat est quis viverra sagittis.

Praesent vitae lorem ligula. In mollisProin vel viverra tortor, at porta felis. Nulla eu volutpat enim. Integer auctor efficitur leo nec finibus. Pellentesque ullamcorper placerat mi et eleifend. Aenean quis fermentum arcu, quis tempus metus. Ut ac aliquam sem. Proin interdum blandit consectetur. Praesent porttitor, enim sed ultricies dapibus, nisi lorem ultrices ipsum, ut ultrices metus libero in turpis. Suspendisse tincidunt aliquam leo vitae viverra. Proin sollicitudin fermentum quam, et dapibus felis volutpat vitae.
</div>
</div>
</div>
<div class="section" id="projects">

<div class="content" id="c3">
<div class="title">
  <a id="scroll-3">Projects</a>
</div>
<hr class="line-2"></hr>
<div class="text">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis varius, orci mattis efficitur tincidunt, velit ipsum pellentesque ipsum, at interdum urna eros eget erat. Fusce metus quam, condimentum eu nulla ullamcorper, aliquet euismod nibh. Duis vel orci est. Fusce et rhoncus erat. Aliquam viverra ultricies velit, vitae viverra sem convallis quis. Maecenas et augue a enim aliquam fermentum ac eu massa. Nunc faucibus dictum mattis. Nullam feugiat est quis viverra sagittis.

Praesent vitae lorem ligula. In mollisProin vel viverra tortor, at porta felis. Nulla eu volutpat enim. Integer auctor efficitur leo nec finibus. Pellentesque ullamcorper placerat mi et eleifend. Aenean quis fermentum arcu, quis tempus metus. Ut ac aliquam sem. Proin interdum blandit consectetur. Praesent porttitor, enim sed ultricies dapibus, nisi lorem ultrices ipsum, ut ultrices metus libero in turpis. Suspendisse tincidunt aliquam leo vitae viverra. Proin sollicitudin fermentum quam, et dapibus felis volutpat vitae.
</div>
</div>
</div>
<div class="section" id="about">

<div class="content" id="c4">
<div class="title">
  <a id="scroll-4">Resume</a>
</div>
<hr class="line-2"></hr>
<div class="text">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis varius, orci mattis efficitur tincidunt, velit ipsum pellentesque ipsum, at interdum urna eros eget erat. Fusce metus quam, condimentum eu nulla ullamcorper, aliquet euismod nibh. Duis vel orci est. Fusce et rhoncus erat. Aliquam viverra ultricies velit, vitae viverra sem convallis quis. Maecenas et augue a enim aliquam fermentum ac eu massa. Nunc faucibus dictum mattis. Nullam feugiat est quis viverra sagittis.

Praesent vitae lorem ligula. In mollisProin vel viverra tortor, at porta felis. Nulla eu volutpat enim. Integer auctor efficitur leo nec finibus. Pellentesque ullamcorper placerat mi et eleifend. Aenean quis fermentum arcu, quis tempus metus. Ut ac aliquam sem. Proin interdum blandit consectetur. Praesent porttitor, enim sed ultricies dapibus, nisi lorem ultrices ipsum, ut ultrices metus libero in turpis. Suspendisse tincidunt aliquam leo vitae viverra. Proin sollicitudin fermentum quam, et dapibus felis volutpat vitae.
</div>
</div>
</div>
<div class="section" id="contact">

<div class="content" id="c5">
<div class="title">
  <a id="scroll-5">Contact</a>
</div>
<hr class="line-2"></hr>
<div class="text">
Email: szucsmik96@gmail.com <br> Whatsapp: <br> Home address 
</div>
</div>
</div>
<script src="scripts/landing.js"></script>
<% include partials/footer %>