<% include partials/header %>
<link rel="stylesheet" href="stylesheets/landing.css">
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

<div class="index-page">
  <div id="navbar">
    <div id="nav-about"><a href="#scroll-1">About</a></div>
    <div id="nav-skills"><a href="#scroll-2">Skills</a></div>
    <div id="nav-projects"><a href="#scroll-3">Projects</a></div>
    <div id="nav-resume"><a href="#scroll-4">Resume</a></div>
    <div id="nav-contact"><a href="#scroll-5">Contact</a></div>
  </div>
  <h1 id="name">MIKLOS SZUCS</h1>
  <hr class="line-1">
  <p class="description">WEB AND GAME DEVELOPER</p>
  <hr class="line-1">
</div>


<div class="section" id="about">

<div class="content" id="c1">
<div class="title">
  <a id="scroll-1">About</a>
</div>
<hr class="line-2"></hr>
<div class="text">
Hey there! I'm Miklos, a third-year Biochemical Engineer student at UCL and enthusiast of creative designs for websites and games.
</div>
</div>
</div>
<div class="section" id="skills">

<div class="content" id="c2">
<div class="title">
  <a id="scroll-2">Skills</a>
</div>
<hr class="line-2"></hr>
<div class="text">
  Computational competence:
  <ul>
    <li>Building mathematical models and visualizing data in MATLAB</li>
    <li>SimaPro 8, Biosolve, Microsoft Office</li>    
  </ul>

  Web Development
  <ul>
    <li>Designing websites and developing front-end functionality with JavaScript, HTML5, CSS3 and DOM manipulation</li>
    <li>Experience with frameworks: jQuery, Bootstrap, Semantic UI</li>
    <li>Comprehensive knowledge of back-end development, database management: MongoDB, ExpressJS, NodeJS, SQL, authentication, PassportJS</li> 
    <li>Awareness of web development industry and cutting-edge technologies</li> 
  </ul>

  Game Development
  <ul>
    <li>Experience with designing and coding games in C# in Unity</li>
    <li>Creating animations from own and imported sprites and assets</li>
    <li>Building 3D models in Blender and exporting them</li> 
    <li>Control databases for keeping scores</li> 
    <li>Working knowledge of multiplayer networking and managing servers</li> 
  </ul>
  
  
</div>
</div>
</div>
<div class="section" id="projects">

<div class="content" id="c3">
<div class="title">
  <a id="scroll-3">Projects</a>
</div>
<hr class="line-2"></hr>
<div class="text">
  Games:
</div>
</div>
</div>
<div class="section" id="about">

<div class="content" id="c4">
<div class="title">
  <a id="scroll-4">Resume</a>
</div>
<hr class="line-2"></hr>
<div class="text">
Education:
</div>
</div>
</div>
<div class="section" id="contact">

<div class="content" id="c5">
<div class="title">
  <a id="scroll-5">Contact</a>
</div>
<hr class="line-2"></hr>
<div class="text">
Email: szucsmik96@gmail.com <br> https://github.com/szucsmik96 <br> Whatsapp: +4407565230248 <br> Home address: Street Stoczek Jozsef 11, 1111, Budapest
</div>
</div>
</div>
<script src="scripts/landing.js"></script>
<% include partials/footer %>